Package: datalayer-storage-uploader
Version: {{ DATALAYER_STORAGE_UPLOADER_VERSION }}
Architecture: {{ PLATFORM }}
Maintainer: Taylor Digital Services, LLC <mtaylor@taylordigitalservices.llc>
Description: DataLayer Storage Uploader
Homepage: https://datalayer.storage
